extends ./pug/layout

block content
		<!-- START HEADER -->
		header.heaeder 
			.container 
				.header__inner 
					img.logo(src="images/logo.svg", alt="")
					a.header__link(href="https:/www.prima-group.kz") www.prima-group.kz 
		<!-- END HEADER -->
		<!-- START FIRST SCREEN -->
		.first-screen
			.container
				.first-screen__inner 
					.first-screen__content 
						.first-screen__content-title Prima Distribution
						.first-screen__content-text Одна из ведущих компаний в сфере дистрибуции товаров народного потребления. Направление деятельности — прямая дистрибуция и логистика непродовольственных товаров, продуктов питания и алкогольных напитков. Prima входит в ТОП-3 лучших работодателей страны в оптовой торговле и дистрибуции. 
						.first-screen__content-btn Хочу тут работать!
			img.first-screen__elem.first-screen__elem--watch(src="images/welcomesection/watch-icon.svg", alt="")
			img.first-screen__elem.first-screen__elem--redarrow(src="images/welcomesection/redarrow.svg", alt="")
			img.first-screen__elem.first-screen__elem--rectangle-big(src="images/welcomesection/rectangle-big.svg", alt="") 
			img.first-screen__elem.first-screen__elem--rectangle-small(src="images/welcomesection/rectangle-small.svg", alt="")
			img.first-screen__elem.first-screen__elem--circle(src="images/welcomesection/circle.svg", alt="") 
			img.first-screen__elem.first-screen__elem--dotted-line(src="images/welcomesection/dotted-line.svg", alt="")
			.first-screen__images
				img.first-screen__img(src="images/welcomesection/firstscreen-img.png", alt="")
		<!-- END FIRST SCREEN --> 
		<!-- START ABOUT -->
		.about 
			.container 
				.heading Кратко о нас
				.about__cards  
					.about__card.about__card--first  
						.about__card-number №1
						.about__card-text Один из лидеров в сфере FOOD/NONFOOD дистрибуции
					.about__card 
						.about__card-number 37
						.about__card-text  филиалов по всему Казахстану
					.about__card.about__card--third
						span Покрытие
						.about__card-number.about__card-number--third 43 000
						.about__card-text  торговых точек по Казахстану
					.about__card 
						.about__card-number 6 107
						.about__card-text  Штат
					.about__card 
						.about__card-number 720
						.about__card-text  автомобилей, собственный автопарк
		<!-- END ABOUT --> 
		<!-- START MISSION -->
		.mission
			.container 
				.heading.heading--mission Миссия компании
				.mission__text Качественная дистрибуция
		<!-- END MISSION --> 
		<!-- START VALLUES -->
		.values 
			.container 
				.heading Ценности
				.values__cards 
					.values__card
						.values__card-front
							img.values__card-front-icon(src="images/vallues/lead-icon.svg", alt="")
							.values__card-front-title Лидерство
						.values__card-back
							.values__card-back-title Лидерство
							.values__card-back-text создавать лучшие идеи и сохранять <br> накопленный опыт
					.values__card
						.values__card-front
							img.values__card-front-icon(src="images/vallues/collab-icon.svg", alt="")
							.values__card-front-title Сотрудничество
						.values__card-back
							.values__card-back-title Сотрудничество
							.values__card-back-text баланс интересов всех и всего
					.values__card
						.values__card-front
							img.values__card-front-icon(src="images/vallues/develop-icon.svg", alt="")
							.values__card-front-title Развитие
						.values__card-back
							.values__card-back-title Развитие
							.values__card-back-text уважение к разности, поощрение <br> новых идей и подходов
					.values__card
						.values__card-front
							img.values__card-front-icon(src="images/vallues/performance-icon.svg", alt="")
							.values__card-front-title Результативность
						.values__card-back
							.values__card-back-title Результативность
							.values__card-back-text поиск эффективных решении
		<!-- END VALLUES --> 
		<!-- START SLOGAN -->
		.slogan
			.container 
				.slogan__text Уверенность в будущем <br> создаем сейчас!
		<!-- END SLOGAN --> 
		<!-- START CAREER -->
		.career 
			.container 
				.heading Карьера в Prima Distribution 
				.career__text Prima Distribution – это, прежде всего, уникальная корпоративная культура. Открытость, доверительные отношения, поддержка и уважение друг другу – это ее основа. Мы много прикладываем усилий, для того, чтобы людям было комфортно вместе.  Мы собираем идеи и воплощаем их в жизнь, мы слышим людей и создаем проекты, о которых они мечтают. Мы большие и ответственные, а значит сильные и надежные. Мы уверенно шагаем вперед, принимая свой опыт, создаем будущее.
				.career__cards 
					.career__card
						.career__card-inner 
							.career__card-title Кадровый резерв
							.career__card-text Процесс планирования карьеры сотрудников включает в себя оценку базовых компетенций на позицию и формирование Индивидуальных планов развития на основе оценки. Это делает карьеру понятной, предсказуемой и управляемой самим сотрудником
						img.career__card-img(src="images/career/career-first.svg", alt="")
					.career__card
						.career__card-inner 
							.career__card-title Обучение и развитие
							.career__card-text Тренинговый центр – это  адаптация, обучение и развитие сотрудников внутри компании.  Обучение проходит  в офлайн и онлайн формате,  благодаря чему обучаются сотрудники разных городов по всему Казахстану. В крупных городах Казахстана внутренние тренера помогают сотрудникам в их развитии.  Обучение носит плановый характер, направлено на формирование навыков внутри стандартов Компании, а также развитие новых навыков и компетенций
						img.career__card-img(src="images/career/career-second.svg", alt="")
					.career__card 
						.career__card-inner 
							.career__card-title Признание и мотивация
							.career__card-text Мы любим людей и любим говорить спасибо. Тимбилдинги и корпоративные мероприятия, награждения по итогам года Лучших сотрудников. Золотые и платиновые значки сотрудникам, кто работает 10 и 20 лет в Компании. Номинации Браво, Спасибо, подарки детям сотрудников  на праздники и события компании,  а также истории успеха и яркие события жизни наших коллег на страницах корпоративных изданий. Мы лучшие, а потому Первые!
						img.career__card-img(src="images/career/career-third.svg", alt="")
		<!-- END CAREER --> 
		<!-- START GOOD-CAUSE -->
		.good-cause
			.container 
				.good-cause__inner
					.good-cause__img 
						img.good-cause__img-heart.red-heart(src="images/heart.svg", alt="")
					.good-cause__description
						.heading.heading--good-cause Совершая благое дело
						.good-cause__description-text У современного человека, если он действительно этого хочет, всегда есть возможность заняться благотворительностью. В нашей компании сложились такие добрые традиции. И ежегодно мы стремимся подарить волшебство детям, которые особенно в этом нуждаются. Своим вниманием выражаем глубочайшую благодарность ветеранам войны, труженикам тыла. Помогаем подготовить детей первоклассников наших сотрудников к школе, воспитывающихся в многодетных и неполных семьях
		<!-- END GOOD-CAUSE --> 
		<!-- START PARTNERS -->
		.partners
			.container 
				.heading Партнеры
				.partners__slider
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
					img.partners__slider-img(src="images/slider-img.png", alt="")
		<!-- END PARTNERS --> 
		<!-- START VIDEO -->
		.video 
			.container 
				<iframe width="100%" height="350px" src="https://www.youtube.com/embed/byr7BuO6v5A" title="PRIMA Distribution" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<!-- END VIDEO --> 
		<!-- START FOOTER -->
		.footer 
			.container 
				img.footer-img(src="images/footer-img.jpg", alt="")
		<!-- END FOOTER --> 
